body
{

}

header,main,footer
{
    max-width: 90%;
    margin: 0 auto;
}

figure
{
    max-width: 650px;
    margin: 16px auto;
}

figure img
{
    max-width: 100%;
}

#tetlist
{
    display: flex;
    flex-flow: row wrap;
}

.tet
{
    flex: 0 1 450px;
    border: 0px solid gray;
    text-align: center;
}

.tet img
{
    width: 60%;
}

.long img
{
    width: 80%;
}

.square img
{
    width: 40%;
}

.tet span
{
    display: block;
    margin: 2px auto 4px auto;
    font-size: 1.5rem;
    font-weight: bold;
}

.aliases
{
    text-align: left;
    margin: 1em;
}